<div class="layout-container">
  <mat-toolbar color="primary" class="layout-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>

    <span>DAILY PROJECT</span>

    <span class="layout-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>account_box</mat-icon>
        <span>My account</span>
      </button>
      <button mat-menu-item (click)="sidenav.opened = false; logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="layout-sidenav-container">
    <mat-sidenav #sidenav style="width: 250px" mode="push">

      <img ngSrc="/images/daily-project-logo.png" height="146" width="256" alt="DAILY PROJECT"/>

      @for (p of permissions;  track $index){
      <button class="myButton" [routerLinkActive]="['active']" mat-menu-item (click)="sidenav.toggle()"
              routerLink="{{p.url}}" style="cursor: pointer">
        <mat-icon>{{p.icon}}</mat-icon>
        <span>{{p.name}}</span>
      </button>
      }
      <!--<mat-divider></mat-divider>
      <button class="myButton" [routerLinkActive]="['active']" mat-menu-item (click)="sidenav.toggle()"
              routerLink="/features/search" style="cursor: pointer">
        <mat-icon>search</mat-icon>
        <span>Search</span>
      </button>
      <mat-divider></mat-divider>
      <button class="myButton" [routerLinkActive]="['active']" mat-menu-item (click)="sidenav.toggle()"
              routerLink="/features/projects" style="cursor: pointer">
        <mat-icon>dashboard</mat-icon>
        <span>Projects</span>
      </button>
      <mat-divider></mat-divider>
      <button class="myButton" [routerLinkActive]="['active']" mat-menu-item (click)="sidenav.toggle()"
              routerLink="/features/collaborators" style="cursor: pointer">
        <mat-icon>person</mat-icon>
        <span>Collaborators</span>
      </button>
      <mat-divider></mat-divider>
      <button class="myButton" [routerLinkActive]="['active']" mat-menu-item (click)="sidenav.toggle()"
              routerLink="/features/tags" style="cursor: pointer">
        <mat-icon>local_offer</mat-icon>
        <span>Tags</span>
      </button>
      <mat-divider></mat-divider>-->
    </mat-sidenav>

    <mat-sidenav-content class="layout-sidenav-container-router">
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>

